body {
  background-color: #282c34;
  color: #ffffff;
  padding: 40px;
  font-family: Arial;
  text-align: left;
  width: 62%;
  margin:0 auto;
   font-size: 13px;
}

a {
  color: #FFF;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
  font-size: 13px;
}
