body {
  background-color: #282c34;
  color: #ffffff;
  padding: 40px;
  font-family: Arial;
  text-align: left;
  width: 62%;
  margin:0 auto;
}

a {
  color: #FFF;
  text-decoration: none;
}

body {
  font: normal medium/1.4 sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}
/* tbody tr:nth-child(odd) {
  background: #eee;
} */